In [62]:
import pandas as pd
import numpy as np

In [117]:
hotel_review = pd.read_csv('Hotel_Reviews.csv')
hotel_review_sample = hotel_review.sample(frac=0.2, random_state = 42)
hotel_review_sample.to_csv("hotel_review_sample.csv", index = False)

In [118]:
hotel_review_sample.shape

(103148, 17)

In [119]:
# hotel_review_sample.columns

In [120]:
rome = pd.read_csv('data_rdd.csv', encoding='ISO-8859-1', index_col = 0)

In [121]:
rome.head(5)

,hotel_url,name,views,views_binary,score_adjusted,bubble_rating,category_hotel,category_inn,category_specialty,class,...,amenities_Wardrobe / closet,amenities_Washing machine,amenities_Water park,amenities_Water park offsite,amenities_Waterslide,amenities_Waxing services,amenities_Whirlpool bathtub,amenities_Wifi,amenities_Wine / champagne,amenities_Yoga classes
1,https://www.tripadvisor.com/Hotel_Review-g1877...,Casa Mia in Trastevere,0,0,4.409091,4.5,0,1,0,3,...,0,0,0,0,0,0,0,1,1,0
2,https://www.tripadvisor.com/Hotel_Review-g1877...,Hotel Artemide,88,1,4.798118,5.0,1,0,0,4,...,1,1,0,0,0,0,0,1,0,0
3,https://www.tripadvisor.com/Hotel_Review-g1877...,A.Roma Lifestyle Hotel,32,1,4.634085,4.5,1,0,0,4,...,0,0,0,0,0,0,0,1,0,0
4,https://www.tripadvisor.com/Hotel_Review-g1877...,iQ Hotel Roma,17,1,4.699138,4.5,1,0,0,4,...,1,1,0,0,0,0,0,1,1,0
5,https://www.tripadvisor.com/Hotel_Review-g1877...,The Guardian,0,0,4.624299,4.5,1,0,0,3,...,0,0,0,0,0,0,0,1,0,0

In [122]:
hotel_review_sample['Hotel_Name'] = hotel_review_sample['Hotel_Name'].str.strip().str.lower()
# rome['name'] = rome['name'].str.strip().str.lower()

In [124]:
# print(set(hotel_review_sample['Hotel_Name']).intersection(set(rome['name'])))

In [77]:
# review_hotels = set(hotel_review_sample["Hotel_Name"].unique())  
# rome_hotels = set(rome["name"].unique())

In [112]:
blah = pd.read_csv('booking_bcn1.csv', index_col = 0)

In [113]:
blah

,Hotels,Prices,Descriptions,Full_Descriptions
0,Majestic 4BR/4BATH apartment in Sagrada Famili...,"â‚¬ 8,117",Managed by a private host,"Situated in Barcelona, 800 metres from Sagrada..."
1,Le Palacete powered by Sonder,"â‚¬ 1,907",1 extra-large double bed,"Situated in Barcelona, in the Gracia district,..."
2,SM Hotel Sant Antoni,"â‚¬ 1,190",Beds: 1 double or 2 singles,Situated 5 minutes' walk from the Sagrada Fami...
3,Hotel del Mar,"â‚¬ 1,215",1 single bed,Hotel del Mar is set in a listed building just...
4,Golden Hotel Barcelona,"â‚¬ 1,306",Beds: 1 double or 2 singles,"Situated in Barcelona, 1.4 km from Sagrada Fam..."
...,...,...,...,...
996,Sweet Inn - Ethnic Eixample,"â‚¬ 3,496","3 beds (2 singles, 1 double)","Set in Barcelona, 200 metres from La Pedrera, ..."
997,You Stylish Sagrada Familia Apartments,"â‚¬ 2,511","3 beds (1 single, 1 double, 1 sofa bed)","Surrounded by views of the city, You Stylish S..."
998,Almanac Barcelona,"â‚¬ 3,289",Multiple bed types,"Almanac Barcelona has an exclusive location, a..."
999,numa I Caja Apartments,"â‚¬ 3,422","4 beds (3 singles, 1 double)",Numa I Caja Apartments features air-conditione...
1000,Picasso Suites,"â‚¬ 2,702","3 beds (1 double, 1 sofa bed, 1 large double)",Featuring a shared roof terrace with furniture...

In [114]:
blah['name_processed'] = blah['Hotels'].str.lower().str.split()

In [125]:
# Convert 'name_processed' lists to strings for exact matching
blah['name_processed'] = blah['name_processed'].apply(lambda x: ' '.join(x) if isinstance(x, list) else x)

# Find the intersection of unique hotel names
matching_hotels = set(blah['name_processed']).intersection(set(hotel_review_sample['Hotel_Name']))

# Count the number of matches
num_matches = len(matching_hotels)

print(f"Number of matching hotel names: {num_matches}")

Number of matching hotel names: 96

START OVER

In [104]:
# df_one = pd.read_csv('7282_1.csv')
df_one = pd.read_csv('Bookings.csv', index_col = 0)
df_two = pd.read_csv('la0730.csv')

In [ ]:
df_one.head(5)

,Hotel_Name,Review,Total_Review,Rating,Location
0,Oakwood Residence Midtown East,Superb,28,9.1,Murray Hill
1,Murray Hill East Suites,Good,52,7.6,Murray Hill
2,The Herald 8 by LuxUrban,Good,"2,870",7.8,Manhattan
3,"The Cloud One New York-Downtown, by the Motel ...",Very good,975,8.3,Wall Street - Financial District
4,Pod Times Square,Very good,"13,951",8.1,Hell's Kitchen

In [98]:
df_two.head(5)

,name,Zip code,Number of reviewers,Overall score,Cleanliness,Comfort,Facilities,Staff,Value for money,Free WiFi,...,Terrace,Swimming Pool,very good Fitness Center,Restaurant,Private Beach Area,exceptional Fitness Center,24-Hour Front Desk,WiFi,BBQ Facilities,Dist
0,Sheraton Gateway Los Angeles,90045,"5,663",8.1,8.5,8.4,8.0,7.8,7.4,7.2,...,0,1,0,0,0,0,0,0,0,(11.2 miles from center)
1,The Jeremy Hotel West Hollywood,90069,563,8.9,9.3,9.0,8.7,8.9,8.2,9.5,...,0,1,0,0,0,0,0,0,0,(8.1 miles from center)
2,Hollywood Proper Residences,90028,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,0,0,0,0,0,0,0,(5.6 miles from center)
3,Hampton Inn & Suites Santa Monica,90401,867,8.3,8.8,8.6,8.2,8.2,7.2,8.4,...,0,1,1,0,0,0,0,0,0,(14.3 miles from center)
4,Spacious Apartment in Westwood UCLA *27,90024,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,0,0,0,0,0,0,0,(11.8 miles from center)

In [106]:
df_one['name_processed'] = df_one['Hotel_Name'].str.lower().str.split()

In [107]:
df_two['name_processed'] = df_two['name'].str.lower().str.split()

In [108]:
# Convert lists to sets for faster lookup
df_one_names = df_one["name_processed"].apply(lambda x: ' '.join(x)).unique()
df_two_names = df_two["name_processed"].apply(lambda x: ' '.join(x)).unique()

# Find exact matches
matches = set(df_one_names) & set(df_two_names)
print(f"Number of exact matches: {len(matches)}")

Number of exact matches: 0